.item-2 {
  position: relative;
  left: 30px;
}

.item-3 {
  position: relative;
  left: 60px;
}

.box-1 {
  background-color: lightgray;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.box-2 {
  background-color: lightgray;
  height: 100px;
  width: 100px;
  position: relative;
  top: 30px;
  display: inline-block;
}

.box-3 {
  background-color: lightgray;
  height: 100px;
  width: 100px;
  position: relative;
  top: 60px;
  display: inline-block;
}

.outer-box {
  width: 300px;
  height: 300px;
  background-color: lightgray;
  position: relative;
  padding: 5px;
}

.inner-box {
  width: 150px;
  height: 150px;
  background-color: lightpink;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.border {
  border: 2px solid black;
  width: 400px;
  height: 300px;
  position: relative;
}

.pink {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: lightpink;
  position: absolute;
  top: 0;
}

.gray {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: lightgray;
  position: absolute;
  left: 100px;
}

.ehe {
  background-color: lightgray;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.ehe-2 {
  background-color: lightgray;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.ehe-3 {
  background-color: lightgray;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.three-boxes {
  display: inline-block;
  border: 1px solid black;
}
